<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reja</title>

    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="title">REJA VA MAQSADLAR</h1>

      <form id="create-form" action="/create-item" method="POST">
        <div class="wrapper">
          <input
            class="input"
            type="text"
            name="item"
            autofocus
            autocomplete="off"
          />
          <button class="btn">Add Purchase</button>
        </div>
      </form>
    </div>
  </body>
</html>
